@media (max-width: 1200px)
  .container
    max-width: 960px

@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .slider
    width: 100%

@media (max-width: 768px)
  .container
    width: 91%
  .navbar
    &__search, &-menu, &__user
      display: none
    .menu
      &-button
        width: 16px
        height: 11px
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: 0
        padding: 0
        background-color: $light
        cursor: pointer
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-wrapper
      justify-content: space-between
@media (max-width: 576px)
  .logo
    width: 99px
  .swiper
    height: 300px
    &-slide__img
      height: 100%
  .slider
    width: 100%
