@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .card
    width: 230px
    height: 230px
  .packages
    &__image-wrapper
      width: 310px
  .main-package__info
    padding: 30px 25px 20px 35px
@media (max-width: 992px)
  .container, .newsletter-wrapper
    width: 92%
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin: 0
      margin-right: 24px
    &-menu
      max-width: 673px
      padding: 22px 0 23px 0
      margin: 0 auto
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      max-width: 340px
      padding-left: 19px
  .breadcrumb
    &-list
      padding: 19px 0 18px 0
  .hotel
    &-slider
      width: 100%

  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
      justify-content: space-between
  .booking
    max-width: 340px
    padding: 29px 22px 26px 23px
  .map
    max-width: 340px
    height: 210px
  .newsletter
    padding: 92px 0 93px 0
  .reviews
    min-height: 532px
    padding-bottom: 60px
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        max-width: 579px
        padding: 0 60px 30px 64px
      &__text
        max-width: 455px
      &__button
        top: 50%
        &--prev
          left: 0
        &--next
          right: 0
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
      &:last-child, &:nth-last-child(2)
        margin-bottom: 0
  .card
    width: 49%
    max-width: 339px
    height: 255px
    &__title
      width: 200px
  .packages
    padding-top: 25px
    padding-bottom: 50px
    &__title
      margin-bottom: 35px
      font-size: 24px
      line-height: 30px
    &-wrapper
      grid-template: minmax(430px, auto) minmax(430px, auto)/repeat(2, 1fr)
      grid-gap: 20px
    &__image-wrapper
      width: 100%
      height: 215px
    &__info
      padding-top: 10px
      padding-bottom: 10px
  .main-package
    &__title
      margin-bottom: 23px
    &__image-wrapper
      width: 350px
      min-height: 430px
    &__info
      padding-top: 15px
      padding-bottom: 15px
    &__text
      margin-bottom: 32px
    &__more-info
      margin-bottom: 20px

@media (max-width: 768px)
  .navbar
    &__search
      margin: 0
      margin-right: 22px
      max-width: 48%

    &-menu
      &__link
        font-size: 1.6vw
  .booking
    width: 49%
  .map
    width: 49%
  .newsletter
    &-title
      font-size: 3.1vw
      &__strong
        font-size: 4.7vw
  .subscribe
    width: 50%
  .packages-card
    &__title
      margin-bottom: 10px
    &__book-now
      min-width: 95px
  .main-package
    display: none
@media (max-width: 576px)
  .logo
    width: 99px
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding: 25px 0
      min-height: 70px
  .menu
    &-button
      width: 16px
      height: 11px
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: 0
      padding: 0
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .breadcrumb-list
    min-height: 50px
    padding: 18px 0
  .stars
    flex-basis: auto
  .hotel
    padding-top: 0
    padding-bottom: 40px
    &__stars
      margin-right: 16px
    &-name
      font-size: 4.5vw
    &-wrapper
      padding-top: 5px
      justify-content: space-between
    &-name
      flex-basis: 100%
    &-info
      padding-bottom: 38px
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin: 0
        margin-left: 1px
      &-wrapper
        justify-content: space-between
    &-right
      flex-direction: column
    &__slider
      margin-bottom: 20px
    &__booking
      margin-bottom: 20px
  .booking
    width: 100%
    max-width: 100%
    padding: 29px 21px 26px 22px
    &__start
      line-height: 12px
    &__num
      margin-left: 8px
      margin-right: 4px
    &__call-center
      margin-bottom: 18px
  .map
    width: 100%
    max-width: 100%
    height: 172px
  .hotel
    &-slider
      height: 300px
  .hotel
    &__slider
      margin-bottom: 20px
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 37px
    &-title
      &__text
        font-size: 20px
        line-height: 25px
        margin-bottom: 5px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
    &__input
      padding-left: 20px
  .reviews
    padding-bottom: 50px
    &__title
      max-width: 245px
      margin: 0 auto 42px
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        max-width: 100%
        padding: 0 29px 36px 33px
        &::before, &::after
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translateX(-50%)
          margin-left: -92px
        &--next
          right: 50%
          transform: translateX(50%)
          margin-right: -88px
      &__profile
        margin-right: 8px
      &__text
        text-align: left
        line-height: 19px
        word-spacing: 0
  .card
    width: 100%
    max-width: 100%

  .activities
    padding: 40px 0 60px 0
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
    &__card:nth-child(1)
      order: -2
    &__card:nth-child(3)
      order: -1
      margin-bottom: 28px
  .packages
    &-wrapper
      grid-template: repeat(2,minmax(432px, auto)) / 1fr
@media (max-width: 480px)
  .hotel
    &-slider
      height: 230px
@media (max-width: 320px)
  .container
    max-width: 280px
  .newsletter
    &-wrapper
      width: 88%
      max-width: 280px
  .navbar
    &-top
      align-items: flex-start
      padding: 22px 0
      &__menu-button
        margin-top: 7px
  .hotel
    &-name
      font-size: 24px
  .hotel
    &-slider
      height: 180px
      &__button
        width: 12px
        height: 12px
        &--next
          right: 10px
        &--prev
          left: 10px
