@mixin arrows-for-slider()
  position: absolute
  top: 50%
  transform: translateY(-50%)
  z-index: 2
  width: 30px
  height: 30px
  border: none
  cursor: pointer
  background-repeat: no-repeat
  background-position: center
  background-size: 10px
  background-color: transparent
